* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c1c1c1;
}

.section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.input_container {
  width: 100%;
  display: flex;
  gap: 5px;

  & input {
    flex-grow: 1;
  }
}
